<div class='login-box'>
  <div class='login-text'>Login</div>
  <form class='login-form'>
    <div>
      <div class='username-box'>
        <label class='form-text' for='username-login'>username:</label>
        <input type='text' id='username-login' class='username-login' placeholder='username' />
      </div>
      <div class='password-box'>
        <label class='form-text' for='password-login'>password:</label>
        <input type='password' class='password-login' id='password-login' placeholder='password' />
      </div>
      <div>
        <div id='signup-redirect' class='form-text'>Signup Instead?</div>
        <button class='login-btn' id='login-btn' type='submit'>Login</button>
      </div>
    </div>
  </form>
</div>
<script src='/javascript/login.js'></script>