<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Tech Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class='body'>
    <nav class='navbar'>
      <div class='nav-box'>
        <div id='homepage-el' class='home nav'>Home</div>
        <div id='dashboard-el' class='dashboard nav'>Dashboard</div>
        {{#unless loggedIn}}
          <div id='login-el' class='logout nav'>Login</div>
        {{/unless}}
        {{#if loggedIn}}
          <div id='logout-el' class='logout nav'>Logout</div>
        {{/if}}
      </div>
      <div class='blog-title'>The Tech Blog</div>
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer></footer>
  </body>
  <script src='/javascript/index.js'></script>
</html>