<div class='login-box'>
  <div class='login-text'>Signup</div>
  <form class='login-form'>
    <div>
      <div class='username-box'>
        <label class='form-text' for='username-login'>username:</label>
        <input type='text' id='username-signup' class='username-login' placeholder='username' />
      </div>
      <div class='password-box'>
        <label class='form-text' for='password-login'>password:</label>
        <input type='password' class='password-login' id='password-signup' placeholder='password' />
      </div>
      <div>
        <div id='login-redirect' class='form-text'>Login Instead?</div>
        <button id='signup-btn' class='login-btn' type='submit'>Signup</button>
      </div>
    </div>
  </form>
</div>
<script src='/javascript/signup.js'></script>